.meu_texto{
	text-align: center;
	color: blue;
	font-weight: bold;

}

.preto{
	background-color: black;
	position: relative;
	height: 10px;
}
/*
{
	border: 2px solid lightgreen;
	left: 200px;
	position: relative;
	font-style: h6;
}
